
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Portfolio de Souphiane Jender, ingénieur pédagogique et professionnel en gestion de projets éducatifs et numériques. Spécialisé dans le développement de solutions sur-mesures numériques et pédagogiques, utilisation avancée de l'IA, modules interactifs, outils de gestion en PHP/SQL, et automatisations des workflows. Découvrez mes compétences, projets techniques et pédagogiques innovants, ainsi que mes collaborations Universitaires et professionnelles.">
    <meta name="keywords" content="Souphiane Jender, ingénieur pédagogique, IA, intelligence artificielle, portfolio, gestion de projets, SPOCs, Storyline, modules interactifs, Python, VBA, Moodle, Moodler, ERP, automatisation, développement web, PHP, SQL, outils numériques, formation enseignants, Université, Recherche, Paris-Saclay, Cergy, CY, transformation pédagogique, scénarios, plateformes éducatives">
    <meta name="author" content="Souphiane Jender">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matthieu gillot Portfolio étudiant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    
</head>
<body>
<!-- Sticky Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-blue fixed-top">
    <a class="navbar-brand" href="#">Souphiane Jender</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about"><i class="fas fa-user"></i> À propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skills"><i class="fas fa-cogs"></i> Compétences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tech-projects"><i class="fas fa-project-diagram"></i> Projets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#experience"><i class="fas fa-graduation-cap"></i> Parcours Universitaire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact"><i class="fas fa-envelope"></i> Contact</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Header -->
  <header class="header-background text-center py-3">
  
    <div class="container">
    
        <div class="row align-items-center">
            <!-- Profile Picture Section -->
            <div class="col-md-4 text-center mb-4 mb-md-0">
                <img src="profil.jfif" alt="Portrait de Souphiane Jender" class="img-fluid rounded-circle profile-image">
            </div>
            <!-- Text Content Section -->
            <div class="col-md-8 text-md-start">
                <h1>
                    <span class="ibmplex-font">Ingénieur</span> 
                    <span class="handwritten-font">Pédagogique</span>
                </h1>
                <p class="ibmplex-font">avec une approche humaine et collaborative</p>
                <a href="CV JENDER SOUPHIANE.pdf" class="btn btn-cv mb-4">Télécharger un CV</a>
            </div>
        </div>
            
        
        
    </div>
</header>
<div style="width: 100vw; max-height: 170px;">
  <svg width="100%" height="100%" viewBox="0 0 100 20" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <!-- Ligne tracée avec une courbe fluide -->
    <path d="M 0,5 Q 25,10 50,5 T 100,5" 
          stroke="#E1D5CC" 
          stroke-width="0.5" 
          fill="none" 
          stroke-linecap="round"
          stroke-dasharray="3 1"/>
  </svg>
</div>
<section id="about" class="py-2">
    <div class="container prompt-container">
        <!-- Zone de prompt -->
        <div class="row justify-content-center mt-1">
            <div class="col-12 text-center">
                <div class="prompt-box">
                    <span id="prompt-text">Fais une description de moi !</span>
                    <button id="send-button" class="btn btn-primary">
                        <i class="fas fa-paper-plane"></i> Envoyer
                    </button>
                </div>
            </div>
        </div>
        <!-- Zone de réponse -->
        <div class="row justify-content-center mt-1">
            <div class="col-12 text-center">
                <div class="response-box" id="response-box">
                    <span id="loading-dots"></span>
                    <span id="response-text" style="display: none;"></span>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Experience Section -->
<section id="skills" class="py-4">
    <div class="container">
        <div class="scrolling-icons-container mb-1">
               <div class="scrolling-icons">
        <i class="fas fa-pencil-alt"></i>
        <i class="fas fa-ruler-combined"></i>
        <i class="fas fa-gamepad"></i>
        <i class="fas fa-file-alt"></i>
                   <h2 class="text-center" >Compétences</h2>
        <i class="fas fa-book"></i>
        <i class="fas fa-laptop"></i>
        <i class="fas fa-user"></i>
        <i class="fas fa-users"></i>
        <i class="fas fa-brain"></i>
        <i class="fas fa-lightbulb"></i> 
               </div>
        </div>
</section>

<div id="slideshow-app">
  <slideshow></slideshow>
  <!-- Autres contenus de votre application -->
</div>

<div id="modal-app">
<section id="tech-projects" class="py-5">
    <div id="special-section" class="special-section py-4">
        <canvas id="particleCanvas"></canvas>
        <div class="container">
            <h2 class="text-center text-tech">Projets Tech & Développement</h2>
            <div class="row gx-4">
                <!-- Boucle pour générer les cartes dynamiquement -->
                <div class="col py-1" v-for="tproject in techProjects" :key="tproject.modalId">
                    <div class="tech-card card-base" @click="openModal(tproject.modalId)">
                        <div class="card-body">
                            <h4 class="tech-card-title">{{ tproject.title }}</h4>
                            <p class="tech-card-text">{{ tproject.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>   

    <!-- Boucle pour générer les modales dynamiquement -->
    <div v-for="tproject in techProjects" :key="tproject.modalId" class="tech-modal">
        <div class="modal fade" :id="tproject.modalId" tabindex="-1" :aria-labelledby="tproject.modalId + 'Label'" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" :id="tproject.modalId + 'Label'">{{ tproject.modalTitle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal(tproject.modalId)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" v-html="tproject.modalContent">
                        <!-- Le contenu de la modale est injecté ici -->
                    </div>
                </div>
            </div>
        </div>
    </div>
 

    <section id="peda-projects" class="py-5">
        <div class="container">
            <h2 class="text-center">Projets et réalisations</h2>
            <div class="row gx-4">
                <!-- générer les cartes dynamiquement -->
                <div class="col py-1" v-for="project in pedaproject" :key="project.modalId">
                    <div class="peda-card card-base" @click="openModal(project.modalId)">
                        <div class="card-body">
                            <h4 class="card-title">{{ project.title }}</h4>
                            <p class="card-text">{{ project.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div v-for="project in pedaproject" :key="project.modalId" class="peda-modal">
        <div class="modal fade" :id="project.modalId" tabindex="-1" :aria-labelledby="project.modalId + 'Label'" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" :id="project.modalId + 'Label'">{{ project.modalTitle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal(project.modalId)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" v-html="project.modalContent">
                        <!-- modale est injecté ici -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Experience Section -->
<section id="experience" class="py-5">
    <div class="container">
        <div class="scrolling-icons-container mb-1">
               <div class="scrolling-icons">
        <i class="fas fa-pencil-alt"></i>
        <i class="fas fa-ruler-combined"></i>
        <i class="fas fa-gamepad"></i>
        <i class="fas fa-file-alt"></i>
                   <h2 class="text-center" >Parcours</h2>
        <i class="fas fa-book"></i>
        <i class="fas fa-laptop"></i>
        <i class="fas fa-user"></i>
        <i class="fas fa-users"></i>
        <i class="fas fa-brain"></i>
        <i class="fas fa-lightbulb"></i>
                   
               </div>
        </div>
        
        <div class="timeline">
            <div class="timeline-item left">
                <h3>Ingénieur pédagogique et Enseignant Informatique & Gestion de projets</h3>
                <h4 style="padding: 2px 8px; color: white; background-color: #A65C6B; border-radius: 5px;">Ileps - Université de Cergy | 09/2023 - En poste</h4>
                <p>Gestion des projets notamment la création/refonte du SI (Déploiement d'un ERP, Plateforme de tutorat stagiaires, Administration du Moodle et Web services...), 
                    Déploiement de l'Approche par compétences (APC) en chargé de mission pour le Service de Diversification Pédagogique de l'Université de Cergy. 
                    Conception de SPOCs (A-Z), Enseignement en Licence 1,2,3 Master 1 pour l'informatique et la gestion de projets. 
                    Accompagnement des enseignants sur l’utilisation des outils numériques.
                    Gestion des examens en ligne
                </p>
                
            </div>
            <div class="timeline-item right">
                <h3>Ingénieur en innovations et transformations pédagogiques</h3>
                <h4 style="padding: 2px 8px; color: white; background-color: #00C49A; border-radius: 5px;"> Université Paris-Saclay | 10/2019 - 11/2023</h4>
                <p>Gestion des projets, Appels à projets, Administration de eCampus (LMS Moodle), SPOCs, capsules vidéos, accompagnement et formation des enseignants. Développement de scripts, facilitation et automatisations.</p>
          
            </div>

        </div>
    </div>
</section>

    
<!-- Contact Section -->
<section id="contact" class="container my-5">
    <h2 class="text-center">Contact</h2>
    <form id="contact-form">
<input type="hidden" name="contact_number" value="697483">
        <div class="form-group">
            <label for="name">Votre Nom</label>
            <input type="text" class="form-control" id="name" name="user_name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="user_email" required>
        </div>
        <div class="form-group">
            <label for="message">Votre Message pour moi !</label>
            <textarea class="form-control" id="message" rows="3" name="message" required></textarea>
        </div>
        <button type="submit" class="btn">Envoyer</button>
</form>
    <div id="status" class="mt-3"></div>
</section>

<!-- Footer -->
<footer class="bg-dark-blue text-white text-center py-3">
    <p>© Souphiane Jender - <a href="https://www.linkedin.com/in/souphiane-jender-paris-sud-saclay/" target="_blank">LinkedIn</a> | <a href="https://github.com/SouphianeJ" target="_blank">GitHub</a></p>
</footer>

<!-- Bootstrap et classiques JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!--  Vue.js  -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<!--  script personnalisé -->
<script src="scripts.js"></script>
    
<script src="app.js"></script>
</body>


<!--<section id="skills" class="container my-3 py-3">
    <div id="special-section" class="special-section">
    <canvas id="particleCanvas"></canvas>

    
    <h2 class="text-center">Compétences</h2>
    <div class="row">
        <div class="col-md-4">
            <h3>Techniques</h3>
            <p>Python, VBA, LaTeX, PHP, SQL, HTML, CSS, Moodle (administration et support), Jupyter Notebooks, développement d’automatisations (scripts).</p>
        </div>
        <div class="col-md-4">
            <h3>Pédagogiques</h3>
            <p>Création de parcours d’apprentissage en ligne, conception de SPOCs, développement de tutoriels vidéo, animation de formations pour enseignants et étudiants, gestion de projets pédagogiques.</p>
        </div>
        <div class="col-md-4">
            <h3>Interpersonnelles</h3>
            <p>Communication et collaboration en équipes pluridisciplinaires, accompagnement au changement, gestion de projet, écoute active et résolution de problèmes pédagogiques.</p>
        </div>
    </div>
</div>
</section>-->
</html>
